<!DOCTYPE html>
<html>

<head>
    <title>OpenTSDB WDC</title>
    <!--<meta http-equiv="Cache-Control" content="no-store"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" data-th-href="@{css/bootstrap.min.css}"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/bootstrap-select.min.css" data-th-href="@{css/bootstrap-select.min.css}"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.js" data-th-href="@{css/bootstrap-select.min.css}"
          crossorigin="anonymous"/>
    <script src="js/lib/jquery-3.2.1.min.js" type="text/javascript" data-th-src="@{js/lib/jquery-3.2.1.min.js}"
            crossorigin="anonymous"></script>
    <script src="js/lib/bootstrap.min.js" type="text/javascript" data-th-src="@{js/lib/bootstrap.min.js}"
            crossorigin="anonymous"></script>
    <script src="js/lib/bootstrap-select.js" type="text/javascript" data-th-src="@{js/lib/bootstrap-select.js}"
            crossorigin="anonymous"></script>
    <script src="js/lib/tableauwdc-2.2.latest.js" type="text/javascript"
            data-th-src="@{js/lib/tableauwdc-2.2.latest.js}" crossorigin="anonymous"></script>
    <script src="js/lib/bootstrap-datetimepicker.min.js" type="text/javascript"
            data-th-src="@{js/lib/tableauwdc-2.2.latest.js}" crossorigin="anonymous"></script>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <!--<script src="https://connectors.tableau.com/libs/tableauwdc-2.2.latest.js" type="text/javascript"></script>-->
    <script src="js/OpenTSDB_WDC.js" type="text/javascript" data-th-src="@{js/OpenTSDB_WDC.js}"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container container-table">
    <form role="form" id="urlForm" action="">
        <div class="form-group">
            <label for="url_host">Host:</label>
            <input class="form-control" id="url_host" value="0.0.0.0"/>
            <label for="url_port">Port:</label>
            <input class="form-control" id="url_port" value="4242"/>
            <div class='button-group' id='setUrl'>
                <button type="button" id="setUrlButton" class="btn btn-success" style="margin: 10px;">
                    Set OpenTSDB Server info
                </button>
            </div>
        </div>
    </form>
</div>
<div class="container container-table" id="inputForm" style="visibility: hidden;">
    <form role="form" id="postForm" action="">
        <!--style="visibility: hidden;">-->
        <div class="form-group">
            <label for="start_datetime">Start Time:</label>
            <div class='input-group date' id='start_datetime' data-date="2017/12/01-00:00:00"
                 data-date-format="yyyy/mm/dd-hh:ii:ss">
                <input class="form-control" id="start_time" type="text" value="2017/12/01-00:00:00"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar add-on"></span>
                </span>
            </div>
            <label for="end_datetime">End Time:</label>
            <div class='input-group date' id='end_datetime' data-date="2017/12/10-00:00:00"
                 data-date-format="yyyy/mm/dd-hh:ii:ss">
                <input class="form-control" id="end_time" type="text" value="2017/12/10-00:00:00"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar add-on"></span>
                </span>
            </div>
            <label for="metricList">Metric:</label>
            <!--<div class="form-group" id='metricList'>-->
            <!--<input class="form-control" value="lalala">-->
            <!--</div>-->
            <div class="form-group" id='selectList'>
                <select class="selectpicker show-tick form-control bs-select-hidden" id="metricList" multiple=""
                        data-live-search="true">
                    <!--<option>lalala</option>-->
                </select>
            </div>
            <label for="addTag">Tags:</label>
            <button type="button" id="addTag" class="btn btn-info" style="margin-top: 10px;margin-bottom: 10px;">+ Add
                Tag
            </button>
            <div class="container" id="tagTable">
                <!--<form class="form-inline tagsFormTemplate" role="form" style="visibility: hidden;">-->
                <div class="row">
                    <div class="col-md-6">
                        <label>Key:</label>
                    </div>
                    <div class="col-md-6">
                        <label>Value:</label>
                    </div>
                </div>
            </div>

        </div>
    </form>


    <div class='button-group' id='submitButtons'>
        <button type="button" id="submitButton" class="btn btn-success" style="margin: 20px;">Get Data!</button>
        <button type="button" id="testButton" class="btn btn-success" style="margin: 20px;">Test!</button>
    </div>
    <div class='data_list'>
        <table class="table table-hover params_tb">
            <thead>
            <tr>
                <th>no</th>
                <th>timestamp</th>
                <th>lalala1</th>
                <th>lalala2</th>
                <th>lalala3</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</body>

</html>